@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  color: #eff1f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* styling as er the leetcode baseed dark theme */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffa116;
}
